/* App.css */

  
  .container {
    margin-left: 30px;
    margin-top: 32px;
    width: 70%;
    /* max-width: 400px; */
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-right: 20px;
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .form-group-para input {
    width: 100%;
    padding: 87px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group-para input:focus {
    outline: none;
    border-color: #007bff;
  }

  .block-button{
    display: flex;
    margin-top: 40px;

  }

  .btn {
 


    margin-left: 40px;
    width: 100px;
    padding: 10px;
    background-color: #fec898;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;

  }
  .btn-c{
    margin-left: 20px;
    width: 100px;
    padding: 10px;
    background-color: #fec898;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
  }
  
  .logout{
    padding: 10px;
  
    background-color: #ffb5a7;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    /* transition: background-color 0.3s; */
  }

  .btn:hover {
    background-color: #0056b3;
  }
  
  .btn-c:hover {
    background-color: #0056b3;
  }

  .data_posts{
    width: 74%;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid gray;
  }